{% extends 'base.html.twig' %}
{% block title %}Log in{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link href="https://pro.fontawesome.com/releases/v5.12.0/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <form class="form-signin" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <img class="w-25 mx-auto d-block" src="{{ asset('images/logo.jpg') }}" alt="logo">
                    <h4 class="text-center font-weight-normal">Sign in to Training Factory</h4>
                    <div class="card">
                        <div class="card-body">
                            <label for="inputUsername">Username</label>
                            <input type="text" value="{{ last_username }}" name="username" id="inputUsername"
                                   class="form-control" required autofocus>
                            <label for="inputPassword">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" required>
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" value="remember-me"> Remember me
                                </label>
                            </div>
                            <input type="hidden" name="_csrf_token"
                                   value="{{ csrf_token('authenticate') }}"
                            >
                            <button class="btn btn-lg btn-primary" type="submit">
                                Sign in
                            </button>
                        </div>
                    </div>
                </form>
                <div class="card">
                    <div class="card-body">
                        <p class="text-center">Nieuw bij Training Factory? <a href="{{ path('app_register') }}">Maak een
                                account.</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}





