{% extends 'base.html.twig' %}

{% block header %}
    <div class="container-fluid bg-light">
        <div class="row p-0 sticky-top">
            <div class="container-fluid p-0">
                <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            {% if links is defined %}
                                {% for link in links %}
                                    <li class="nav-item">
                                        <a class="nav-link {{ app.request.get('_route') == link.path ? 'active, font-weight-bold' : 'text-secondary' }}"
                                           href="{{ path(link.path) }}">{{ link.name }}</a>
                                    </li>
                                {% endfor %}
                            {% endif %}
                            <li class="nav-item">
                                <a class="nav-link text-secondary" href="{{ path('app_login') }}">Login</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100 carousel-banner" src="{{ asset('images/index-banner-1.jpg') }}"
                             alt="First slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 id="ptwn-start-text"></h5>
                            <p>Best train ride I've ever been on</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 carousel-banner" src="{{ asset('images/index-banner-1.jpg') }}"
                             alt="Second slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Public Transportation With NFC</h5>
                            <p>The future of public transportation</p>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 carousel-banner" src="{{ asset('images/index-banner-1.jpg') }}"
                             alt="Third slide">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Public Transportation With NFC</h5>
                            <p>Very comfortable trip were you can have a great ride with a eco-friendly vehicle</p>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="main-block-fluid">
        <div class="row">
            {% block main %}{% endblock %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <footer class="page-footer font-small special-color-dark">
        <hr>
        <p class="text-center">&copy;PTWN copyright from project ELFS</p>
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('DOMContentLoaded', function (event) {
            var tekst = "Public Transportation With NFC";

            function typeWriter(text, i) {
                if (i < (text.length)) {
                    document.getElementById("ptwn-start-text").innerHTML = text.substring(0, i + 1) + '<span aria-hidden="true"></span>';

                    setTimeout(function () {
                        typeWriter(text, i + 1)
                    }, 100);
                }
            }

            typeWriter(tekst, 1);
        });
    </script>
{% endblock %}
